.stepper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .stepper {
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media (max-width: 480px) {
    .stepper {
      font-size: 10px;
    }

    .steplabel {
        font-size: 10px;
      }
  }